@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@import "@src/styles/variables.scss";
@import "@src/styles/mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 CSS 변수 정의 */
:root {
  --font-family-base: 'Pretendard', 'Noto Sans KR', sans-serif;
}

// 기본 body 스타일
body {
  @apply font-sans;
  font-family: var(--font-family-base);
  // background-color: var(--background-color);
  // color: var(--text-color);
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  word-break: keep-all;

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: #{$background};
    --foreground: #{$foreground};
    --card: #{$card};
    --card-foreground: #{$card-foreground};
    --popover: #{$popover};
    --popover-foreground: #{$popover-foreground};
    --primary: #{$primary};
    --primary-foreground: #{$primary-foreground};
    --secondary: #{$secondary};
    --secondary-foreground: #{$secondary-foreground};
    --muted: #{$muted};
    --muted-foreground: #{$muted-foreground};
    --accent: #{$accent};
    --accent-foreground: #{$accent-foreground};
    --destructive: #{$destructive};
    --destructive-foreground: #{$destructive-foreground};
    --border: #{$border};
    --input: #{$input};
    --ring: #{$ring};
    --chart-1: #{$chart-1};
    --chart-2: #{$chart-2};
    --chart-3: #{$chart-3};
    --chart-4: #{$chart-4};
    --chart-5: #{$chart-5};
    --radius: #{$radius};

    --leading-10: #{$leading-10};
  }
  .dark {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
    --card: #{$card-dark};
    --card-foreground: #{$card-foreground-dark};
    --popover: #{$popover-dark};
    --popover-foreground: #{$popover-foreground-dark};
    --primary: #{$primary-dark};
    --primary-foreground: #{$primary-foreground-dark};
    --secondary: #{$secondary-dark};
    --secondary-foreground: #{$secondary-foreground-dark};
    --input: #{$input-dark};
  }
}